*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}
body{
    margin: 0;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
a{
    text-decoration: none;
}
li{
    list-style: none;
    cursor: pointer;
}
button{
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

img:hover{
    opacity: 0.8;
    transform: scaleY(0.9);
}
.header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    background-color: rgb(10, 9, 9);
    border-bottom: 1px solid black;
}
.menu{
    display: flex;
    
}
.menu li{
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;   
}
.menu li a::after{
    content: '';
    height: 5px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: 3px;
    transition: 0.5s;
}
.menu li a:hover::after{
    width: 100%;
    transition: all 0.8s;
}
.header a{
    display: block;
    color: rgb(255, 252, 252);
    height: 100%;
    padding: 15.5px 15px;
}
.logo{
    overflow: hidden;
    height: 100%;
    width: 190px;
    display: flex;
    justify-content: center;
}
.logo img{
    position: relative;
    top: -15px;
    height: 100px;
}
.menu li:hover{
    transform: scale(0.9);
    /* padding-top: 1px; */
}
.icon{
    display: flex;
    padding: 10px 15px;
    align-items: center;
}
.signOut a{
 height: 100%;
 width: fit-content;
 display: flex;
 justify-content: center;
}
.signOut a:hover{
    opacity: 0.8;
    transform: scale(0.9);
}
/* detail */
.ctn_product{
  margin-top: 80px;
   width: 80%;
   display: flex;
   justify-content: center;
   color: black;
   height: 100vh;
   margin-left: 100px;

   
}
.ctn_product_img{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    
}
.ctn_product_img img{
    height: 100%;
}
.ctn_product_img img:hover{
    opacity: 0.8;
    transform: scale(0.9);
}
.ctn_product_detail{
   margin-left: 150px;
  
   width: 600px;
  
}
.ctn_product_detail_name{
    font-size: 30px;
    margin-top: 40px;
}
.ctn_product_detail_price{
    font-size: 24px;
}
.ctn_product_detail_btn{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    background-color: black;
    border-radius: 30px;
    cursor: pointer;
   
    margin-top: 20px;
}
.ctn_product_detail_btn:hover{
    opacity: 0.8;
    transform: scaleX(0.8);
    background-color: navy;
}
.ctn_product_detail_btn a{
    font-size: 20px;
    padding: 5px 15px;
    color: white;
   
}

.ctn_product_detail_key-features{
    display: flex;
    gap: 40px;
    margin-top: 20px;
    padding:  20px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 180px;
}
.ctn_product_detail_key-features div{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.ctn_product_detail_bottom{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.ctn_product_detail_bottom a{
    text-decoration: none;
    color: black;
}