*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}
body{
    margin: 0;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    align-items: center;

}
a{
    text-decoration: none;
}
li{
    list-style: none;
    cursor: pointer;
}
button{
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

img:hover{
    opacity: 0.8;
    transform: scaleY(0.9);
}
.header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    background-color: white;
    border-bottom: 1px solid black;
}
.menu{
    display: flex;
    
}
.menu li{
    display: block;
    justify-content: center;
    align-items: center;

   
}
.header a{
    display: block;
    color: black;
    height: 100%;
    padding: 15.5px 15px;
}
.logo{
    overflow: hidden;
    height: 100%;
    width: 190px;
    display: flex;
    justify-content: center;
}
.logo img{
    position: relative;
    top: -15px;
    height: 100px;
}
.menu li:hover{
    transform: scale(0.9);
    /* padding-top: 1px; */
}
.icon{
    display: flex;
    padding: 10px 15px;
    align-items: center;
}
.signOut a{
 height: 100%;
 width: fit-content;
 display: flex;
 justify-content: center;
}
.signOut a:hover{
    opacity: 0.8;
    transform: scale(0.9);
}

.pay{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    row-gap: 50px;
    height: 70vh;
}
.r1,.r3{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
}
.c3,.c2{
    width: 200px;
    text-align: end;
}
.r4{
    width: 100%;
    display: flex;
    justify-content: end;
    
}
button{
   padding: 10px 20px;
   background-color: black;
   color: white;
   font-weight: bold;
   outline: none;
   border: none;
}
button:hover{
    background-color: navy;
}
.listCart .item img{
    width: 100%;
    border-radius: 20px;
}
.listCart {
    
    
}
.listCart .item{
    display: grid;
    grid-template-columns: 100px 300px 100px 100px;
    gap: 10px;
    text-align: center;
    align-items: center;
    padding: 0 2px;
}

.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
.close:hover {
    background-color: black;
    color: white;
}
.checkOut:hover{
    background-color: green;
    color: white;
}
img{
    cursor: pointer;
}