*{
    margin: 0;
    padding: 0;
}
body{
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content:center;
    color: white;
    height: 100vh;
    row-gap: 20px;
    font-size: 24px;
}
img{
    height: 300px;
    width: 300px;
}
